@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Articulat";
  src: url("/assets/fonts/ArticulatCF-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Articulat";
  src: url("/assets/fonts/ArticulatCF-Normal.otf");
  font-weight: 500;
}

body {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  font-family: "Articulat", helvetica, arial, sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.auto-fill-minmax {
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

.slideUp {
  animation: slideUp 1s cubic-bezier(0.275, 0.785, 0.32, 0.96) forwards;
}
