@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Articulat";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #070707;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@font-face {
  font-family: "Articulat";
  src: url("/assets/fonts/ArticulatCF-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Articulat";
  src: url("/assets/fonts/ArticulatCF-Normal.otf");
  font-weight: 500;
}

body {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  font-family: "Articulat", helvetica, arial, sans-serif;
}
